<p>This web site allows the comparison of any Open Access (OA) policy
   registered in <a href=“https://roarmap.eprints.org/”> ROARMAP </a>
   database with the Horizon2020 funding program OA requirements.</p>

<p> Data are fetched directly from the ROARMAP web site and web API. The sources for the Horizon OA requirements are the following:</p>

<ol>
    <li><a href=“https://ec.europa.eu/research/participants/data/ref/h2020/grants_manual/hi/oa_pilot/h2020-hi-oa-pilot-guide_en.pdf”>Guidelines on Open Access to
    Scientific Publications and Research Data in Horizon 2020</a> (Version
    2.1, 15 February 2016): § 3. Mandate on open access to publications</li>

    <li><a href="http://ec.europa.eu/research/participants/data/ref/h2020/mga/gga/h2020-mga-gga-multi_en.pdf">H2020 General Model Grant Agreement — Multi</a> (Version
    2.1, 1 October 2015): ARTICLE 29 — DISSEMINATION OF RESULTS — OPEN
    ACCESS — VISIBILITY OF EU FUNDING</li>
</ol>

<p>The criteria used to determine the level of compliance of a
   ROARMAP-classified policy with H2020 OA requirements have been documented
   in <a href="https://goo.gl/Uqxf3k">this document</a>.</p>

<p>For any further information, please do no the hesitate to <a
   href="mailto:info@nexa.polito.it?subject=Open%20Access%20Policy%20alignmento%20to%20H2020%20tool">contact us</a>.</p>
