<div ng-controller="InstitutionController">

  <div ng-show="g.selected">

    <div>
      <div>
        <span class="policymaker_name">{{g.selected.title}}</span>
        ({{g.selected.policymaker_type}})
      </div>
      <div>Last Modified: {{g.selected.lastmod}}</div>
      <div>
        (<a href="{{g.selected.uri}}">roarmap url</a>)
        (<a href="{{g.selected.policymaker_url}}">policy maker url</a>)
        (<a href="{{g.selected.repository_url}}">repository url</a>)
        (<a href="{{g.selected.policy_url}}">policy url</a>)
      </div>
      <div>compliance: {{g.selected.percentage|number:2}}%</div>
    </div>

    <table>
      <tr>
        <th>#</th>
        <th>field</th>
        <th>value</th>
        <th>is-compliant</th>
        <th>reason</th>
        <th>caveats</th>
        <th>guidelines</th>
        <th>gmga</th>
      </tr>

      <!-- Note: g.selected.nexa contains evaluation of the H2020 compliance
           rules developed by Nexa Center -->
      <tr ng-repeat="entry in g.selected.nexa | orderBy:'field_id'"
          class="compliant-{{entry.is_compliant}}">
        <td>{{entry.field_id}}</td>
        <td>{{entry.field}}</td>
        <td>{{entry.value}}</td>
        <td>{{entry.is_compliant}}</td>
        <td>{{entry.reason}}</td>
        <td>{{entry.caveats}}</td>

        <!-- Note: a possible improvement would be to open details in a
             disposable div rather than in a new tab -->
        <td>
          <span ng-repeat="ref in entry.gmga">
            <a href="/details.html#{{ref}}" target="_blank">[{{ref}}]</a>
          </span>
        </td>
        <td>
          <span ng-repeat="ref in entry.guidelines">
            <a href="/details.html#{{ref}}" target="_blank">[{{ref}}]</a>
          </span>
        </td>
      </td>
      <tr>
    </table>

  </div>
</div>
