
th {
    background-color: #4CAF50;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2
}

tr:hover {
    background-color: #f3f781
}

td.compliant-true {
    color: #228B22
}

td.compliant-false {
    color: #FF0000
}
