span.policymaker_name {
    font-weight: bold;
}

.center {
    margin-left: auto;
    margin-right: auto;
    margin-top: 3px;
    margin-bottom: 3px;
    text-align: center;
}

#pasteur-logo {
    width: 250px;
}

img.center {
    display: block;
    margin: 0 auto;
}

.expandable {
    cursor: pointer;
    cursor: hand;
}

hr {
    visibility: hidden;
}
