<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Frontend to roarmap.eprints.org</title>
    <link rel="stylesheet" type="text/css" href="app.css">
  </head>
  <body ng-app="roarmap-h2020-view">
    <center>
      <div id="search-result"></div>
      <div id="university"></div>
    </center>

    <div ng-controller="MainController">

      <form ng-submit="search()">
        <input type="text" ng-model="g.search.terms">
        <button>Search</button>
      </form>

      <div style='width: 100%'>
        <div ng-show="g.search.result" style='float: left; width: 25%'>
          <ul ng-repeat="entry in g.search.result">
            <li>
              <a href="#" ng-click="show(entry)">{{entry.title}}</a>
            </li>
          </ul>
        </div>

        <div ng-show="g.selected" style='float: right; width: 66%'>
          <table>
            <tr ng-repeat="field in g.selected|limitTo:1">
              <th ng-repeat="(key, value) in field">{{key}}</th>
            </td>
            <tr ng-repeat="field in g.selected">
              <td ng-repeat="(key, value) in field">{{value}}</td>
            </tr>
          </table>
        </div>
      </div>

      <div style="float: bottom; position: absolute">{{g.state}}</div>
    </div>

    <script src="app.bundle.js"></script>
  </body>
</html>
